* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.heading {
    height: 70px;
    line-height: 2.5;
}

.container {
    /* height: 600px;
    width: 450px; */
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    gap: 10px;
}

.inputnumber {
    font-size: 20px;
    padding: 20px;
    border-radius: 5px;
    width: 180px;
}

.button {
    padding: 20px;
    width: 50px;
    font-size: 20px;
}